<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/wwwroot/assets/css/styles.min.css">
    <!-- BEGIN CUSTOM CSS-->
    <link rel="stylesheet" type="text/css" href="~/wwwroot/css/customStyle2.css">
    <!-- END CUSTOM CSS-->
    <script src="~/wwwroot/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/wwwroot/assets/js/scripts.min.js"></script>
    <title>Centro de Orientaci&oacute;n Plan de Salud VITAL | @ViewBag.Title  </title>
</head>
<body>
    <header>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <a class="navbar-brand" href="/EnrollmentPrincipal">
                    <img class="imgBlackToWhite" src="~/wwwroot/assets/img/logo-Vital-BLACK.png" style="height:60px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <ul class="navbar-nav" style="font-size:1.3em;">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("IndexNA", "Principal")">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ADDITIONAL INFORMATION
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("Overview","Principal")">OVERVIEW</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("DetailHighlights","Principal")">DETAIL HIGHLIGHTS</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ProviderSearch","Principal")">PROVIDER SEARCH</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("OfficeLocations","Principal")">MEDICAID OFFICE LOCATIONS</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CHOOSE YOUR INSURER
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("ChangeMco","Principal")">SELECT YOUR INSURER (MCO)</a>
                                <div class="dropdown-divider"></div>
                                @*<a class="dropdown-item" href="@Url.Action("MakeAppointment","Principal")">MAKE A VITAL ORIENTATION APPOINTMENT</a>
                                <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" href="@Url.Action("ContactInsurer","Principal")">CONTACT YOUR INSURER (MCO)</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-info" href="@ViewBag.Selfservices" target="_blank">MY PROFILE</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar navbar-light">
                @if (ViewBag.logos == true)
                {
                    <div class="flex-grow-1">                        
                        <a href="http://www2.pr.gov/Pages/default.aspx"><img src="~/wwwroot/assets/img/logoPuertoRico.png" style="height:60px;" alt="logo-2"></a>
                        <a href="http://www.asespr.org"><img src="~/wwwroot/assets/img/logoAses.png" style="height:60px;" alt="logo-2"></a>
                    </div>
                }


                <div class="ml-auto mr-3">
                    <a href="@ViewBag.Ruta" class="navbar__language"><span lang="en-US" style="font-size:1.5em;">Español</span></a>
                </div>
                <div class="d-flex mr-3 mb-1">
                    <button type="button" title="Normal size" rel="nofollow" class="btn btn-info btn-sm mr-1 align-self-end text-light text-normal" onclick="fontSize('normal')">A</button>
                    <button type="button" title="Medium size" rel="nofollow" class="btn btn-info btn-sm mr-1 align-self-end text-light text-medium" onclick="fontSize('medium')">A</button>
                    @*<button type="button" title="Large size" rel="nofollow" class="btn btn-info btn-sm align-self-end text-light text-large" onclick="fontSize('large')">A</button>*@
                </div>
            </nav>
        </div>
    </header>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="accordion">
                <div class="card">
                    <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus button--accordion">
                        <p class="mb-0 accordion__title" style="font-weight:bold;">Assistance and Rights of Enrollees</p>
                    </button>
                    <div class="collapse">
                        <div class="card-body accordion__body">
                            <p>This portal provides general information related to the VITAL Health Plan. It does not provide details about eligibility requirements under the Medicaid Program, the VITAL Health Plan, benefits, exceptions, general terms or limitations of the health plan of the Government of Puerto Rico. Eligibility determinations for the VITAL Health Plan are made by the Puerto Rico Medicaid Program. This portal does not represent a contract between you and the Health Insurance Administration of Puerto Rico (ASES), the Puerto Rico Medicaid Program, or any of the participating Insurers (MCOs).</p>
                            <p>The information about the provider networks presented in this portal is provided to ASES by Insurers hired for the VITAL Health Plan. This website does not modify the rules, benefits, exceptions, general terms or limitations of the Medicaid Program or its Health Plan of the Government of Puerto Rico. Periodic updates of the information provided will be made in a period of 48 hours. You can request more recent information directly with Insurers.</p>
                            <p>For interpreting services in other languages, contact the <strong>VITAL Counseling Center</strong> at <strong>1-833-253-7721</strong> free of charge Monday through Friday from 8:00 a.m. to 6:00 p.m.</p>
                            <p>TTY/TDD service is available only for Audio Impaired at <strong>1-888-984-0128</strong>.</p>
                            <p>If you need help navigating through the VITAL portal or to complete your Insurer change, contact an Enrollment Counselor at <strong>1-833-253-7721</strong>.</p>
                            <h4><a href="~/wwwroot/assets/pdf/Availability-of-Assistance-and-Rights-of-Enrollees.pdf" class="text-info" target="_blank">Download PDF</a></h4>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <button type="button" aria-expanded="false" class="card-header accordion__header collapser plus button--accordion">
                        <p class="mb-0 accordion__title" style="font-weight:bold;">Oral Interpreter Services</p>
                    </button>
                    <div class="collapse">
                        <div class="card-body accordion__body">
                            <h4 class="mt-4"><a href="~/wwwroot/assets/pdf/servicio-de-interprete-en.pdf" class="text-info" target="_blank">Download PDF</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="http://www2.pr.gov/Pages/default.aspx"><img src="~/wwwroot/assets/img/logoPuertoRico.png" style="height:60px;" alt="logo-2"></a>
                        <a href="http://www.asespr.org"><img src="~/wwwroot/assets/img/logoAses.png" style="height:60px;" alt="logo-2"></a>
                    </div>    
                    <div class="col-sm align-self-end">
                        <p class="text-md-center">
                            Submitted to the Puerto Rico State Elections Commission: CEE-SA-2020-8878
                        </p>
                    </div>
                    <div class="col-sm align-self-end">
                        <p class="text-md-right">
                            &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>

        $(document).ready(function () {
            $(".btn_LoginSelfEnrollment").attr({ href: window.location.origin + "/EnrollmentSelfServices" });
            console.log($(".btn_LoginSelfEnrollment"));
        });

    </script>
</body>
</html>
